<div id="menu">
    <a class="menuName" href="/">Small Town Market</a>

    <% if(owner === true){ %>
        <a class="menuName" href="/vendors/<%=vendor.url%>"><%=vendor.name%></a>
    <% } %>
</div>