<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>Small Town Market</title>
        <link rel="stylesheet" href="./landing/landing.css">
    </head>
    <body>
        <header>
            <a href="/vendor/new">Create Vendor</a>
        </header>
        <h1>SMALL TOWN MARKET</h1>
    </body>
</html>